pytest
pylint
ipdb
jupyterlab
numpy
pandas
matplotlib
seaborn
scikit-learn
opencv-python
opencv-python-headless
notebook
tensorflow==2.16.1
colorama
google-cloud-storage

# API
fastapi         # API framework
uvicorn         # web server
mlflow==2.1.1
